.vs/
bin/
obj/

*.o
*.a
discount-2.2.2/cols.exe
discount-2.2.2/echo.exe
discount-2.2.2/makepage.exe
discount-2.2.2/markdown.exe
discount-2.2.2/mkd2html.exe
discount-2.2.2/mktags.exe
discount-2.2.2/theme.exe

libmarkdown

Makefile
config.h
config.log
config.md
config.sub

